<style>
.profile {
display:flex;
flex-direction: column;
}
button {
color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
button:hover {
background: #1C6EA4; }
.button:active {
background: #144E75; }

}
</style>

<h1> TwitterUser </h1>
<p><a href = {% url 'homepage'%}> <button>Homepage</button></a></p>
<div class="profile">
Logged In: {{ user.username }}
{% for tweet in user_tweets %}
<p>{{tweet.date}} | {{tweet.author}} | {{tweet.tweet}}}</p>
{% endfor %}
<div class="profile">
<p>Followers: {{ following_count }}</p>
<p>Total Tweets: {{ tweet_count }}</p>
{% if is_following %}
<p><a href = {% url 'unfollow' id=twitteruser.id %}> <button>Unfollow</button></a><p>
{% else %}
<p><a href = {% url 'follow' id=twitteruser.id %}> <button>Follow</button></a></p>
{% endif %}
</div></div>
<a href = {% url 'signup'%}> <button>Create a New User</button></a>
